<div class="space">
  <p class="lead">Teams</p>
</div>

<div class="list-group">
  <% @teams.each_with_index do |team, index| %>
  <div class="well">
    <a href="/rosters/<%= index %>" class="list-group-item active"><%= team[:name] %></a></br>
    
    <div class="text-right">
      <a href="/teams/<%= index %>/edit">Edit Team Name</a></br>
      
    </div>
    
    <form action="/roster/<%= index %>" method="get">
      <button class="btn btn-default" type="submit">Add Player</button>
    </form></br> 

    <form action="/rosters/<%= index %>" method="get">
      <button class="btn btn-info" type="submit">Roster</button>
    </form></br>

    <form class="delete" action="/teams/<%= index %>/destroy" method="post">
        <button type="submit" class="btn btn-warning">Delete</button>
    </form>
    </br>

  </div>
  <% end %>
</div>


<a href="/team">Back</a>


